{% extends 'base.html.twig' %}
{% block body %}

	<br><br>
	<body><h1>Overzicht tekorten</h1></body>
	<br><br>


	<table>
	<tbody>

			<tr>
				<td class="shrink"><b>Artikelnummer</b></td>
				<td class="shrink"><b>Omschrijving</b></td>
				<td class="shrink"><b>Magazijnlocatie</b></td>
				<td class="shrink"><b>Inkoopprijs</b></td>
				<td class="shrink1"><b>Minimumvoorraad</b></td>
				<td class="shrink1"><b>Actuele voorraad</b></td>
				<td class="shrink"><b>Bestelserie</b></td>
			</tr>

	{% for tekort in tekort %}
			<tr>
				<td><a href="{{ path('toonArtikel',{'artikelnummer':tekort.artikelnummer}) }}">{{ tekort.artikelnummer }}</td><a/>
				<td>{{ tekort.omschrijving }}</td>
				<td>{{ tekort.magazijnlocatie.magazijnlocatie }}</td>
				<td>{{ tekort.inkoopprijs }}</td>
				<td>{{ tekort.minimumVoorraad }}</td>
				<td>{{ tekort.voorraadAantal }}</td>
				<td>{{ tekort.bestelserie }}</td>
			</tr>

	{% endfor %}
	</tbody>
	</table>

{% endblock %}
