{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<br><br>
	<body><h1>Overzicht tekorten</h1></body>
	<br><br>

	</div>
	
	<table>
	<tbody>

			<tr>
				<td class="shrink"><b>artikelnummer</b></td>
				<td class="shrink"><b>omschrijving</b></td>
				<td class="shrink"><b>magazijnlocatie</b></td>
				<td class="shrink"><b>inkoopprijs</b></td>
				<td class="shrink1"><b>minimumVoorraad</b></td>
				<td class="shrink1"><b>voorraadAantal</b></td>
				<td class="shrink"><b>bestelserie</b></td>
				<td class="shrink"><b>Wijzig</b></td>
				<td class="shrink"><b>Verwijder</b></td>
			</tr>

	{% for tekort in tekort %}
			<td class="kleurrood" class="marge10">

				<tr>
			<td class="marge10" >{{ tekort.artikelnummer }}</b></td>
			<td class="marge10" >{{ tekort.omschrijving }}</b></td>
			<td class="marge10" >{{ tekort.technischeSpecificaties }}</b></td>
			<td class="marge10" >{{ tekort.magazijnlocatie }}</b></td>
			<td class="marge10" >{{ tekort.inkoopprijs }}</b></td>
			<td class="marge10" >{{ tekort.codeVervangendArtikel }}</b></td>
			<td class="kleurrood" class="marge10">{{ tekort.minimumVoorraad }}</b></td>
			<td class="kleurrood" class="marge10">{{ tekort.voorraadAantal }}</b></td>
			<td class="marge10" >{{ tekort.bestelserie }}</b></td>
			<br>
			</tr>

	{% endfor %}
	</tbody>
	</table>

{% endblock %}
