{% extends 'base.html.twig' %}
{% block body %}

		<br><br>
			<body><h1>Assortiment</h1></body>
				<a href="{{ path('nieuweartikel') }}">Nieuw Artikel</a>
		<br><br>
<table>
	<tbody>
			<tr>
				<td class="shrink"><b>Artikelnummer</b></td>
				<td class="shrink"><b>Omschrijving</b></td>
				<td class="shrink"><b>Magazijnlocatie</b></td>
				<td class="shrink"><b>Inkoopprijs</b></td>
				<td class="shrink"><b>Minimumvoorraad</b></td>
				<td class="shrink"><b>Actuele voorraad</b></td>
				<td class="shrink"><b>Bestelserie</b></td>
				<td class="shrink"><b>Wijzig</b></td>
				<td class="shrink"><b>Archiveer</b></td>
			</tr>

		{% for artikel in artikel %}
			<tr>
				<td class="shrink"><a href="{{ path('toonArtikel',{'artikelnummer':artikel.artikelnummer}) }}">{{artikel.artikelnummer}}</a>
				</td>
				<td class="shrinkleft">{{artikel.omschrijving}}</td>
				<td class="shrink">{{artikel.magazijnlocatie.magazijnlocatie}}</td>
				<td class="shrinkright">€ {{artikel.inkoopprijs}}</td>
				<td class="shrinkright">{{artikel.minimumVoorraad}}</td>
				<td class="shrinkright" align="right">{{artikel.voorraadAantal}}</td>
				<td class="shrink">{{artikel.bestelserie}}</td>
				<td class="shrink">
				<a href="{{ path('artikelwijzigen',{'artikelnummer':artikel.artikelnummer}) }}">Wijzig</a>
				</td>
				<td class="shrink">
				<a href="{{ path('artikelverwijderenbevestingen',{'artikelnummer':artikel.artikelnummer}) }}">Archiveer</a>
			</tr>

 		{% endfor %}
	</tbody>
</table>

{% endblock %}
