{% extends 'base.html.twig' %}
{% block body %}

		<br><br>
			<body><h1>Assortiment</h1></body>
				<a href="{{ path('nieuweartikel') }}">Nieuw Artikel</a>
		<br><br>
<table>
	<tbody>
			<tr>
				<td class="shrink" align="center"><b>Artikelnummer</b></td>
				<td class="shrink" align="center"><b>Omschrijving</b></td>
				<td class="shrink" align="center"><b>Magazijnlocatie</b></td>
				<td class="shrink" align="center"><b>Inkoopprijs</b></td>
				<td class="shrink1" align="center"><b>Minimumvoorraad</b></td>
				<td class="shrink1" align="center"><b>Actuele voorraad</b></td>
				<td class="shrink" align="center"><b>Bestelserie</b></td>
				<td class="shrink" align="center"><b>Wijzig</b></td>
				<td class="shrink" align="center"><b>Archiveer</b></td>
			</tr>

		{% for artikel in artikel %}
			<tr>
				<td class="shrink" align="center"><a href="{{ path('toonArtikel',{'artikelnummer':artikel.artikelnummer}) }}">{{artikel.artikelnummer}}</a>
				</td>
				<td class="shrink">{{artikel.omschrijving}}</td>
				<td class="shrink" align="center">{{artikel.magazijnlocatie.magazijnlocatie}}</td>
				<td class="shrink" align="right">€ {{artikel.inkoopprijs}}</td>
				<td class="shrink" align="right">{{artikel.minimumVoorraad}}</td>
				<td class="shrink" align="right">{{artikel.voorraadAantal}}</td>
				<td class="shrink" align="center">{{artikel.bestelserie}}</td>
				<td class="shrink" align="center">
				<a href="{{ path('artikelwijzigen',{'artikelnummer':artikel.artikelnummer}) }}">Wijzig</a>
				</td>
				<td class="shrink" align="center">
				<a href="{{ path('artikelverwijderenbevestingen',{'artikelnummer':artikel.artikelnummer}) }}">Archiveer</a>
			</tr>

 		{% endfor %}
	</tbody>
</table>

{% endblock %}
