
{% include 'header.html.twig'%}
    <body>
         <div class="container"> 
       
        <div class="topnav">
 
  
  <a href="{{ path('alleartikelen') }}"  class="active">Alle Artikelen</a>
  <a href="{{ path('allemagazijnlocatie') }}" >Alle magazijnlocatie</a>
  </div>

  </div>
   

        {% block body %}{% endblock %}
        {% block javascripts %}
       
 {% endblock %}



      </div>
    </body>
      {% include 'footer.html.twig'%} 
</html>
<!-- 
<style>
.kleurrood {
  color:red;
}
.marge10{
  margin:10px;
}
.marge100{
  margin:100px;
}
.padding10{
  padding:10px;
}
.bordergroove{
border-style:groove;
}
</style>
 <a href="{{ path('alleproducten') }}">Alle Producten</a>
  
  <a href="{{ path('alleproducttype') }}">Alle ProductType</a>
  
  <a href="{{ path('alleklanten') }}">Alle Klanten</a>
 -->