    <div class="container">
{% include 'header.html.twig'%}
    <body>
        <div class="topnav">
{% if app.request.get('_route') == 'alleartikelen' %}
      <a href="{{ path('alleartikelen') }}" class="active">Assortiment</a>
    {% else %}
      <a href="{{ path('alleartikelen') }}">Assortiment</a>
    {% endif %}

{% if app.request.get('_route') == 'allemagazijnlocatie' %}
      <a href="{{ path('allemagazijnlocatie') }}" class="active">Alle Magazijnlocaties</a>
    {% else %}
      <a href="{{ path('allemagazijnlocatie') }}">Alle Magazijnlocaties</a>
    {% endif %}

{% if app.request.get('_route') == 'tekort' %}
      <a href="{{ path('tekort') }}" class="active">Tekorten</a>
    {% else %}
      <a href="{{ path('tekort') }}">Tekorten</a>
    {% endif %}

{% if app.request.get('_route') == 'allebestelformulieren' %}
      <a href="{{ path('allebestelformulieren') }}" class="active">Bestelformulieren</a>
    {% else %}
      <a href="{{ path('allebestelformulieren') }}">Bestelformulieren</a>
    {% endif %}

{% if app.request.get('_route') == 'alleretouren' %}
    <a href="{{ path('alleretouren') }}" class="active">Retouren</a>
{% else %}
    <a href="{{ path('alleretouren') }}">Retouren</a>
{% endif %}


{% if app.request.get('_route') == 'search' %}
      <a href="{{ path('search') }}" class="active">Zoek Artikel</a>
    {% else %}
      <a href="{{ path('search') }}">Zoek Artikel</a>
    {% endif %}

{% if app.request.get('_route') == 'searchbestel' %}
      <a href="{{ path('searchbestel') }}" class="active">Zoek bestelling</a>
    {% else %}
      <a href="{{ path('searchbestel') }}">Zoek bestelling</a>
    {% endif %}
      <a href="{{ logout_path('main') }}">Log uit</a>

  </div>

        {% block body %}{% endblock %}
        {% block javascripts %}

 {% endblock %}

      </div>
    </body>

      {% include 'footer.html.twig'%}
