{% extends 'base.html.twig' %}
{% block body %}
<div>
	<br><br>
	<h1>Zoek bestelformulier</h1>
	<a href="{{ path('nieuwebestelformulier') }}">Nieuw Formulier</a>
	<br><br>

</div>
 <form method="post" action="">
    {{ form_widget(form) }}
    <input class="btn btn-default" value="zoeken" type="submit">
    <a href="{{ path('searchbestel') }}">Annuleren</a>
</form>
<table>
	<tbody>

		<tr>
			<td class="shrink"><b>ID</b></td>
			<td class="shrink"><b>Leverancier</b></td>
			<td class="shrink"><b>Bestelordernummer</b></td>
			<td class="shrink"><b>Artikelnummer</b></td>
			<td class="shrink"><b>Omschrijving</b></td>
			<td class="shrink"><b>Aantal besteld</b></td>
			<td class="shrink"><b>Verwachte leverdatum</b></td>
			<td class="shrink"><b>Wijzig</b></td>
			<td class="shrink"><b>Archiveer</b></td>
		</tr>

	{% for bestel in bestel %}
		<tr>
			<td>{{ bestel.bid }}</td>
			<td>{{ bestel.leverancier }}</td>
			<td>{{ bestel.bestelordernr }}</td>
			<td>{{ bestel.artikel.artikelnummer }}</td>
			<td>{{ bestel.artikel.omschrijving }}</td>
			<td>{{ bestel.besteldaantal }}</td>
			<td>{{ bestel.verwachteleverdatum|date('d-m-Y') }}</td>
			<td><a href="{{ path('bestelformulierwijzigen',{'bid':bestel.bid}) }}">Wijzig</a></td>
			<td><a href="{{ path('bestelformulierverwijderen',{'bid':bestel.bid}) }}">Archiveer</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
