{% extends 'base.html.twig' %}
{% block body %}
 <div>
 <table>
<tr><td>Artikelummer: <td/>{{artikel.artikelnummer}}</td></tr>
    <td>Omschrijving:	<td/>{{artikel.omschrijving}}</td></tr>
<tr><td>Technische specificaties: <td/>{{artikel.technischeSpecificaties}}</td></tr>
    <td>Magazijnlocatie: <td/>{{artikel.magazijnlocatie.magazijnlocatie}}</td></tr>
<tr><td>Inkoopprijs: <td/>€ {{artikel.inkoopprijs}}</td></tr>
<tr><td>Vervangende Artikel:<td/>
  {% if artikel.codeVervangendArtikel == NULL %}
    {{artikel.codeVervangendArtikel}}</td></tr>
  {% else %}
  <a href="{{ path('toonArtikel',{'artikelnummer':artikel.codeVervangendArtikel.artikelnummer}) }}">{{artikel.codeVervangendArtikel}}</a></td></tr>
  {% endif %}
    <td>Minimumvoorraad: <td/>{{artikel.minimumVoorraad}}</td></tr>
<tr><td>Voorraad: <td/>{{artikel.voorraadAantal}}</td></tr>
<tr><td>Bestelserie: <td/>{{artikel.bestelserie}}</td></tr>
</table>
</div>

{% endblock %}
