{% extends 'base.html.twig' %}
{% block body %}
	<br><br>
	<h1>Overzicht klanten</h1>
	<a href="{{ path('nieuweklant') }}">Nieuw Klant</a>
	<br><br>
	{% for klant in klanten %}
			<span class="kleurrood" class="marge10">
				<a href="{{ path('klantwijzigen',{'klantnummer':klant.klantnummer}) }}">Wijzig</a>
				<a href="{{ path('klantverwijderen',{'klantnummer':klant.klantnummer}) }}">Delete</a>
				{{ klant.klantnummer }}
			</span>
			<span class="marge10" >{{ klant.voornaam }}
			<class="marge10" >{{ klant.achternaam }}</span>
			<span class="marge100" >{{ klant.telefoonnummer }}</span>
			<br>
	{% endfor %}

{% endblock %}
