{% extends 'base.html.twig' %}
{% block body %}

	<br><br>
	<h1>Overzicht Magazijnlocaties</h1>
	<a href="{{ path('nieuwemagazijnlocatie') }}">Nieuw Locatie</a>
	<br></br>

<table>
	<tbody>
		<tr>
			<td class="shrink"><b>ID</b></td>
			<td class="shrink"><b>Locatie</b></td>
      <td class="shrink"><b>Artikelnummer</b></td>
			<td class="shrink"><b>Wijzig</b></td>
		</tr>

		{% for magazijnlocatie in magazijnlocatie %}
			<tr>
				<td class="shrink">{{magazijnlocatie.mid}}</td>
				<td class="shrink">{{magazijnlocatie.magazijnlocatie}}</td>
				<td class="shrink">{{magazijnlocatie.artikelid}}</td>
				<td class="shrink"><a href="{{ path('magazijnlocatiewijzigen',{'magazijnlocatie':magazijnlocatie.mid}) }}">Wijzig</a></td>
			</tr>

		{% endfor %}
  </tbody>
</table>
{% endblock %}
