{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<br><br>
	<h1>Overzicht Magazijnlocatie</h1>
	<a href="{{ path('nieuwemagazijnlocatie') }}">Nieuw Locatie</a>
	<br><br>
</div>

<!-- <table>
	<tbody>

		<tr>
			<td class="shrink"><b>ID</b></td>
			<td class="shrink"><b>Locatie</b></td>
      <td class="shrink"><b>Artikelnummer</b></td>
			<td class="shrink"><b>Wijzig</b></td>
		</tr> -->


  {% for magazijnlocatie in magazijnlocatie %}
    <tr>
      <td>{{ magazijnlocatie.mid }}</td>
			<td>{{ magazijnlocatie.magazijnlocatie }}</td>
			<td>{{ magazijnlocatie.artikelid }}</td>
      <td><a href="{{ path('magazijnlocatiewijzigen',{'magazijnlocatie':magazijnlocatie.mid}) }}">Wijzig</a></td>
			<br>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endblock %}
