{% extends 'base.html.twig' %}
{% block body %}
	<br><br>
	<a href="{{ path('home') }}">Home</a>
	<h1>Overzicht producten</h1>
	<a href="{{ path('nieuweproduct') }}">Nieuw Product</a>
	<br><br>
	{% for product in producten %}
			<span class="kleurrood" class="marge10">
				<a href="{{ path('productwijzigen',{'barcode':product.barcode}) }}">Wijzig</a>
				<a href="{{ path('productverwijderen',{'barcode':product.barcode}) }}">Delete</a>
				{{ product.barcode }}
			</span>
			<span class="marge10" >{{ product.naam }}</span>
			<span class="marge100" >{{ product.merk }}</span>
			<br>
	{% endfor %}

{% endblock %}
