{% extends 'base.html.twig' %}
{% block body %}
	<h1>Overzicht producttype</h1>
	<a href="{{ path('nieuweproducttype') }}">Nieuw Producttype</a>
	<br><br>
	{% for producttype in producttype %}
			<span class="kleurrood" class="marge10">
				<a href="{{ path('producttypewijzigen',{'tid':producttype.tid}) }}">Wijzig</a>
				<a href="{{ path('producttypeverwijderen',{'tid':producttype.tid}) }}">Delete</a>
				{{ producttype.tid }}
			</span>
			<span class="marge10" >{{ producttype.beschrijving }}</span>
			<br>
	{% endfor %}

{% endblock %}
