{% extends 'base.html.twig' %}
{% block body %}
 <div>
 <br></br>
 	<h1>Zoek artikel</h1>
 <form method="post" action="">
    {{ form_widget(form) }}
    <input class="btn btn-default" value="zoeken" type="submit">
    <a href="{{ path('search') }}">Annuleren</a>
</form>
</div>

<table>
	<tbody>
			<tr>
				<td class="shrink"><b>Artikelnummer</b></td>
				<td class="shrink"><b>Omschrijving</b></td>
				<td class="shrink"><b>Magazijnlocatie</b></td>
				<td class="shrink"><b>Inkoopprijs</b></td>
				<td class="shrink1"><b>Minimumvoorraad</b></td>
				<td class="shrink1"><b>Actuele voorraad</b></td>
				<td class="shrink"><b>Bestelserie</b></td>
        <td class="shrink"><b>Status</b></td>
				<td class="shrink"><b>Wijzig</b></td>
				<td class="shrink"><b>Archiveer</b></td>
			</tr>

		{% for artikel in artikel %}
			<tr>
				<td class="shrink"><a href="{{ path('toonArtikel',{'artikelnummer':artikel.artikelnummer}) }}">{{artikel.artikelnummer}}</a>
				</td>
				<td class="shrink">{{artikel.omschrijving}}</td>
				<td class="shrink">{{artikel.magazijnlocatie.magazijnlocatie}}</td>
				<td class="shrink">{{artikel.inkoopprijs}}</td>
				<td class="shrink">{{artikel.minimumVoorraad}}</td>
				<td class="shrink">{{artikel.voorraadAantal}}</td>
				<td class="shrink">{{artikel.bestelserie}}</td>
        <td class="shrink">{{artikel.Active}}</td>
				<td class="shrink">
				<a href="{{ path('artikelwijzigen',{'artikelnummer':artikel.artikelnummer}) }}">Wijzig</a>
				</td>
				<td class="shrink">
				<a href="{{ path('artikelverwijderenbevestingen',{'artikelnummer':artikel.artikelnummer}) }}">Archiveer</a>
			</tr>

    {% endfor %}
    </tbody>
</table>


{% endblock %}
